body {
	margin: 0;
}

:root {
	--mdc-theme-primary: #0072c6;
	--mdc-theme-secondary: #ffc61e;
}

.mdc-top-app-bar--fixed-adjust {
	padding-left: 20%;
	padding-right: 20%;
}

#header-main-icon {
	height: 100%;
}

@media only screen and (max-width: 1080px) {
	.mdc-top-app-bar--fixed-adjust {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Filter */
.filter .search {
	width: 30%;
}

.filter .mdc-text-field__icon {
	height: 50%;
}

.filter > div {
	vertical-align: super;
}

/* Paging */
.paging {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.paging #how-many, .paging #data-date {
	width: 100%;
	flex-grow: 1;
}

/* Loading */
#loading-error {
	display: none;
	color: red;
}

.paging button {
	margin: 1em;
}

/* Nothing found */
#nothing-found {
	display: none;
	font-weight: bold;
}

/* Result list */
.mdc-list-item {
	flex-wrap: wrap;
	justify-content: space-evenly;
	min-height: 48px;
	height: unset;
}


.mdc-list .title {
	width: 100%;
	flex-grow: 1;
	font-family: monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.mdc-list .table-icon {
	height: 1rem;
	margin-left: 0.5em;
}

.mdc-list .license-icon {
	height: 1rem;
	margin-right: 0.5em;
}

.mdc-list .content {
	flex-grow: 1;
	padding: 1em;
	display: none;
}

.mdc-list table td {
	padding-top: .5em;
}

.mdc-list table td:last-child {
	padding-left: 1em;
}

.mdc-list table td:first-child {
	font-weight: bold;
	vertical-align: middle;
}

.mdc-list li {
	border: solid transparent;
}

.mdc-list li:nth-child(even) {
	background: #cccccc;
}

.expanded xml li:nth-child(even) {
	background: initial;
}

xml p {
	margin: initial;
}

.expanded {
	border: solid #888888 !important;
}

.expanded .mdc-list-item__secondary-text,
.expanded .mdc-list-item__meta {
	display: none;
}

.pre {
	white-space: pre-wrap;
	font-family: monospace;
}
